#header {
	text-align: center;
	color: #fff;
	background: url('http://esa12thconference.eu/sites/esa12thconference.eu/files/esa_foto_web2_550_bw_0.jpg');
	margin: 0;
	padding: 0;
	h1 {
		margin: 0;
		padding: 1em 1em 1.5em 1em;
		text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
		border-bottom: 1px solid rgba(128, 128, 128, .5)
	}
}

h5 {
	font-weight: bold;
}

.session {
	.session-header {
		color: #e47e3d;
		border-top: 1px solid #e47e3d;
		margin-bottom: 1em;

		h4 {
			text-transform: uppercase;
		}
	}

}


.filters {
	margin: 2em 0;
}